.project {
  &-hero {
    height: 30vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // justify-content: flex-end;
      align-items: center;

     &-text {
      color: #FFFDFE;
        font-size: 50px;
        font-weight: bold;
        text-align: center;
        max-width: 600px;
     }
  }
}

.project-detail-image {
  height: 30vh;
  object-fit: contain;
  background-position: 25% 15%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.row-gap-5 {
  row-gap: .5rem;
}
.project-main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: .5rem;
  @media only screen and (min-width: 599px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;

     &-text {
      grid-column: 1;
      height: calc(100% - 1rem);
     }

     &-photos {
      grid-column: 2;
      height: calc(100% - 1rem);
      overflow: hidden;

       img {
        width: 100%;
        max-height: 300px;
        object-fit: cover;
       }
     }
  }
}

.project-subheading {
  color: #fff;
  padding-top: 2rem;
  font-size: 2.3rem;
  position: relative;
}