.main-container {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  
  width: 100%;
  height: 100%;
}
.row-gap {
  row-gap: .5rem;
}
.hero-full {
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  //temporary 
    position: relative;
    
    background-image: url('../../assets/images/background3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(13, 93, 54, 87%);
    }
  border: 1px solid black;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 100%;
  row-gap: .5rem;
  border: 1px solid black;
  // height: 100%;
  min-height: 300px;

  @media only screen and (min-width: 799px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: .5rem;
  }

}

.row-two {
  width: 100%;
  height: 100%;
  //temporary
  border: 1px solid black; 
}

.row-full {
  width: 100%;
  height: 100%;
  //temporary
  border: 1px solid black;
    
    @media only screen and (min-width: 799px) {
      grid-column: 1 /-1;
    }
}

.cta-text {
  font-size: 8rem;
  color: white;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px #333;
}

.header-underline {
  display: block;
  position: relative;

  &::after {
    content: '';
    border: 2px solid red;
    position: absolute;
    bottom: -7px;
    width: 300px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
.image-half {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  height: 100%;
}
.image-container {
  height: 100%;
  width: 100%;
}

.text {
  &-content {
    position: relative;
    padding: 3rem 2rem;
    max-width: 700px;
    margin: 0 auto;
  }
  &-header {
    font-weight: bold;
  }
  &-style {
    font-size: 2rem;
    line-height: 32px;
    padding: 3px 0;
    margin: 10px 0;
  }

}

.line-top-decoration {
  position: relative;
  padding-bottom: 5px;
    &::before {
      content: '';
      border: .5px solid white;
      position: absolute;
      top: -5px;
      width: 105%;
      left: 50%;
      transform: translate(-50%, 0);
    }
}

.line-bottom {
  position: relative;
    padding-bottom: 5px;
    &::before {
      content: '';
      border: .5px solid white;
      position: absolute;
      bottom: -5px;
      width: 105%;
      left: 50%;
      transform: translate(-50%, 0);
    }
}

.checkbox-wrapper {
  position: relative;
  width:80%;
  padding: 2rem 0;
  margin: 0 auto;

}

.full-height {
  height: 100%;
  width: 80%;
  padding: 5rem 3rem;
 
}

.center-content {
  position: relative;
  padding: 4rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3{
    padding: 1rem 0;
    width: 80%;
      margin: 0 auto;
  }

  p {
    width: 80%;
    margin: 0 auto;
    
  }

}
.center-content-image p {
  max-width: 340px;
  text-align: center;
  font-size: 3rem;
  line-height: 32px;
  text-shadow: 2px 2px #333;
  
   
}
.bi-services {
  position: relative;
  background-image: url('../../assets/images/image-10.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(13, 93, 54, 45%);
    }
}
.mb-20 {
  margin-bottom: 20px;
}
.full-height {
  height: 100%;
  width: 100%;
}

.pos-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.padding-13 {
  padding: 1rem 3rem;
}

.DC-event-list {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  // max-width: 80%;
  margin-bottom: 2rem;
}

.flex-ac {
  align-items: center;
}