.container-footer {
  position: relative;
    background-image: url('../../assets/images/footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(46, 32, 26, 57%);
      border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}